h1{
    background-color: #00ffff;
    border: 3px solid black;
}
/* p{
    background-color: #7200e5;
}
#para {
    background-color: #3e00ae;
} */

div {
    background-color: #7200e5;
}
#div1{
    background-color: #3e00ae;
}
#div2 {
    background-color: #175098;
}
#div3 {
    background-color: #1489b4;
}
#div4 {
    background-color: #14a391;
}
#div5 {
    background-color: #359a69;
}
#div6 {
    background-color: #43c343;
}
#div7{
    background-color: #60e562;
}
#div8 {
    background-color: #afef4c;
}
#div9 {
    background-color: #fcd847;
}
#div10 {
    background-color: #fcbd13;
}
#div11 {
    background-color: #fc6913;
}
#div12 {
    background-color: #da0e0e;
}
#div13 {
    background-color: #b80b0a;
}














